{% extends "MovieApp/movie_base.html" %}
{% load static from staticfiles %}

{% block title %}Home{% endblock %}

{% block header %}Movie Fandome App!{% endblock %}

{% block content %}
<div class="text-center">
    <img src="{% static 'images/spirited-away.png' %}">
    <span class="text-center"><strong>All your Movies in one place.</strong><br/>
        This app allows you to keep track of titles you already have and search for titles you are curious about.
    </span>
        <br/>
</div>
{% endblock %}

