{% extends 'BasicApp/BasicApp_base.html' %}
{% load staticfiles %}
{% block templatecontent %}
<section>
    <div class="flex-container" id="jerseyCollectionPage">
        <table class="table-striped">
            <tr>
                <th class="col-md"> Name </th>
                <th class="col-md"> Email </th>
                <th class="col-md">Destination Location </th>
                <th class="col-md">Source Location </th>
                <th class="col-md">Image</th>
                <th class="col-md">Trip Start Date </th>
                <th class="col-md">Trip End Date</th>
                <th class="col-md">Accommodation </th>
                <th class="col-md">&nbsp;Trip Cost</th>
            </tr>
            {% for TravelList in TravelLists %}
            <tr>
                <td class="col-md">{{TravelList.Name}}</td>
                <td class="col-md">{{TravelList.Email}}</td>
                <td class="col-md">{{TravelList.DestinationLocation}}</td>
                <td class="col-md">{{TravelList.SourceLocation}}</td>
                <td class="col-md">{{TravelList.Image}}</td>
                <td class="col-md">{{TravelList.TripStartDate}}</td>
                <td class="col-md">{{TravelList.TripEndDate}}</td>
                <td class="col-md">{{TravelList.Accommodation}}</td>
                <td class="col-md">{{TravelList.TripCost}}</td>
                <td class="col-md"><a href="{{TravelList.pk}}/Details">
                    <button class="primary-light-button" >Details</button>
                </a></td>    <!-- creates a link  -->
            </tr>
            {% endfor %}
        </table>
        <button class="primary-bright-button" type="button" onclick=" location.href='{% url 'createTrip' %}'">Add Trip
        </button>
    </div>
</section>
{% endblock %}
