{% extends 'base.html' %}
{% load static %} <!-- must load static files on every template, even though it extends another template -->
{% block appcontent %}
    <section>
        <div class="flex-container wrapper">
            <h5>Travel Application</h5>
            <hr />
            <a class= 'tabNav' href="{% url 'basic_app_home' %}">Travel Home Page</a>
            <a class= 'tabNav'  href="{% url 'travelLists' %}">Travel List</a>
            <a class= 'tabNav'  href="">Travel API Service</a>
            <a class= 'tabNav'  href="">Travel Inspiration from TripAdvisor</a>
        </div>
    </section>
    {% block templatecontent %}{% endblock %} <!-- section that all the template specific content will render within -->
{% endblock %}
