{% extends 'Comics/Comics_base.html' %}
{% load staticfiles %}
{% block templatecontent %}
<section>
    <div class="flex-container" id="comicCollection">
        <table class="table-bordered">
            <tr>
                <th class="col-md">Title</th>
                <th class="col-md">Series</th>
                <th class="col-md">Issue Number</th>
                <th class="col-md">Year Published</th>
                <th class="col-md">Publisher</th>
                <th class="col-md">Book Grade</th>
                <th class="col-md">Details</th>
            </tr>
            {% for books in comics %}     <!-- creates a new row for each book in the collection -->
            <tr>
                <td class="col-md">{{books.title}}</td>
                <td class="col-md">{{books.series}}</td>
                <td class="col-md">{{books.issue}}</td>
                <td class="col-md">{{books.year}}</td>
                <td class="col-md">{{books.publisher}}</td>
                <td class="col-md">{{books.grade}}</td>
                <td class="col-md"><a href="{{books.pk}}/Details">
                    <button class="primary-light-button">Details</button>
                </a></td>    <!-- creates a link for that specific book -->
            </tr>
            {% endfor %}
        </table>
        <button class="primary-bright-button" type="button" onclick=" location.href='{% url 'createBook' %}'">Add to
            Collection
        </button>
    </div>
</section>
{% endblock %}