{% extends 'Comics/Comics_base.html' %}
{% load static %}
{% block templatecontent %}
<section>
    <div id="footyPic">
        <img src="{% static 'images/superhero.jpg' %}">
        <span class="footy_center"><strong>Welcome to the Comics App</strong><br/>
        Keep track of your comic book collection. Learn all about your favorite superheros -
            from powerstats to biographies and more! You can also view all of the comics currently
            on sale from comics.org</span>
        <br/>
    </div>
</section>
{% endblock %}