{% extends 'Comics/Comics_base.html' %}
{% load staticfiles %}
{% block templatecontent %}
<section>
    <div class="flex-container footy">
        <table>
            <tr>
                <th>Series</th>
                <td>{{books.series}}</td>
            </tr>
            <tr>
                <th>Issue Number</th>
                <td>{{books.issue}}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{books.title}}</td>
            </tr>
            <tr>
                <th>Year Published</th>
                <td>{{books.year}}</td>
            </tr>
            <tr>
                <th>Publisher</th>
                <td>{{books.publisher}}</td>
            </tr>
            <tr>
                <th>ISBN or Barcode</th>
                <td>{{books.isbn_or_Barcode}} ({{books.isbn_choice}})</td>
            </tr>
            <tr>
                <th>Comic Book Grade</th>
                <td>{{books.grade}}</td>
            </tr>
            <tr>
                <th>Additional Notes</th>
                <td>{{books.notes}}</td>
            </tr>
        </table>

        <hr/>
        <button class="primary-bright-button" type="button" onclick =" location.href='{% url 'listComics' %}'">Back to
            Collection
        </button>
        <button class="primary-bright-button" type="button" onclick=" location.href='{% url 'post_edit' pk=books.pk %}'">
            Edit Book
        </button>
        <button class="primary-bright-button" type="button" onclick=" location.href='{% url 'book_delete' pk=books.pk %}'">
            Delete Book
        </button>
    </div>
</section>
{% endblock %}
