{% extends 'FootyDemo/footy_base.html' %}
{% load staticfiles %}
{% block templatecontent %}
<section>
    <div class="flex-container footy">
        <form method="post">
            {% csrf_token %} <!-- Django needs a csrf token for every form -->
            <label>Select an Area of the World:</label>
            <select name="parentArea" id="parentArea">
                {% for area in world.childAreas %}  <!-- iterates through the returned options-->
                {% if parents.id == area.id %}  <!-- maintains the selected option if postback -->
                <option value="{{area.id}}" selected>{{area.name}}</option>
                {% else %}
                <option value="{{area.id}}">{{area.name}}</option>
                {% endif %}
                {% endfor %}
            </select>
            <button class="primary-bright-button" type="submit" name="submit" value="submit">Select Area</button>
        </form>

        {% if parents != None %} <!-- checks if the parent dropdown has been selected before rendering -->
        <form method="post">
            {% csrf_token %}
            <label>Select a Country:</label>
            <select name="childArea" id="childArea">
                {% for area in parents.childAreas %}    <!-- iterates through the areas -->
                {% if childArea == area.id %}       <!-- maintains the selected option on postback -->
                <option value="{{area.id}}" selected>{{area.name}}</option>
                {% else %}
                <option value="{{area.id}}">{{area.name}}</option>
                <!-- sets the value to the id and the selection display to the name -->
                {% endif %}
                {% endfor %}
            </select>
            <input type="hidden" name="parentArea" value="{{parents.id}}"> <!-- sends the parent id back on postback -->
            <div class="row">
                <button class="primary-bright-button" type="submit" name="submit" value="submit">Filter for Country
                </button>
                <button class="primary-bright-button" type="submit" name="submit" value="noFilter">Get All Leagues
                </button> <!-- value will be captured on back end to determine handling -->
            </div>
        </form>

        {% if leagues != None %} <!-- checks for data before populating -->
        <form method="post">
            {% csrf_token %}
            <label>Select a League:</label>
            <select name="league" id="league">
                {% for league in leagues.competitions %}
                <option value="{{league.id}}">{{league.name}}</option>
                {% endfor %}
            </select>
            <button class="primary-bright-button" type="submit" name="submit" value="submit">Get Matches</button>
        </form>
        {% endif %}
        {% endif %}
    </div>
    <div class="flex-container">
        <img id='apiImg' src="{% static 'images/FootyLeagues.png' %}" alt="Leagues available for free"/>
        <p class="wrapper">While the list of areas, countries, and leagues it extensive,
            the free API only has access to information for these 12 leagues.</p>
    </div>
</section>
{% endblock %}