{% extends 'FootyDemo/footy_base.html' %}
{% load staticfiles %}
{% block templatecontent %}
<section>
    <div id="footyPic">
        <img src="{% static 'images/footy_home.jpg' %}">
        <span class="footy_center"><strong>Welcome to the Footy Demo App</strong><br/>
        A collection manager app for a major soccer fan! There's a database to manage a
        collection of jerseys, an API for recent soccer scores, and recent news stories scraped from
        the MLS website. Take a look.</span>
        <br/>
        <a class="footy_caption"
           href="https://unsplash.com/@davidclarke?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge"
           target="_blank" rel="noopener noreferrer"
           title="Download free do whatever you want high-resolution photos from david clarke"><span>photo by david clarke</span></a>
    </div>
</section>
{% endblock %}