{% extends 'CraftBeer/craftbeer_base.html' %}
{% load staticfiles %}
{% block templatecontent %}
<section>
    <div class="flex-container" id="jerseyCollectionPage">
        <table class="table-striped">
            <tr>
                <th class="col-md">Beer Name</th>
                <th class="col-md">Brewery</th>
                <th class="col-md">Style</th>
                <th class="col-md">ABV</th>
                <th class="col-md">Average Score</th>
                <th class="col-md">Info</th>
            </tr>
            {% for beer in beers %}     <!-- creates a new row for each beer in the collection -->
            <tr>
                <td class="col-md">{{beer.beer_name}}</td>
                <td class="col-md">{{beer.brewery}}</td>
                <td class="col-md">{{beer.style}}</td>
                <td class="col-md">{{beer.abv}}</td>
                <td class="col-md">{{beer.avg_score}}</td>
                <td class="col-md"><button class="primary-bright-button" type="button" onclick=" location.href='{% url 'beerDetails' beer.pk %}'">Details
                </button></td>
            </tr>
            {% endfor %}
        </table>
        <button class="primary-bright-button" type="button" onclick=" location.href='{% url 'createBeer' %}'">Add to
            Collection
        </button>
    </div>
</section>
{% endblock %}