{% extends 'CraftBeer/craftbeer_base.html' %}
{% load staticfiles %}
{% block templatecontent %}
    <div class="flex-container">
        <form method="post">
            {% csrf_token %}
            <h1>Are you sure you want to delete {{beer.beer_name}}</h1>
            <button class="primary-bright-button" type="submit">Delete</button>
            <button class="primary-bright-button" type="button" onclick="location.href='{% url 'listBeers' %}'">Cancel
        </button>
        </form>
        <hr/>
    </div>
{% endblock %}