{% extends 'CraftBeer/craftbeer_base.html' %}
{% load staticfiles %}
{% block templatecontent %}
<section>
    <div class="flex-container footy">
        <table>
            <tr>
                <th>Beer Name</th>
                <td>{{beer.beer_name}}</td>
            </tr>
            <tr>
                <th>Brewery</th>
                <td>{{beer.brewery}}</td>
            </tr>
            <tr>
                <th>Style</th>
                <td>{{beer.style}}</td>
            </tr>
            <tr>
                <th>ABV</th>
                <td>{{beer.abv}}</td>
            </tr>
            <tr>
                <th>Average Rating</th>
                <td>{{beer.avg_rating}}</td>
            </tr>
        </table>

        <hr/>
        <button class="primary-bright-button" type="button" onclick=" location.href='{% url 'editBeer' beer.pk %}'">Edit
        </button>
        <button class="primary-bright-button" type="button" onclick="location.href='{% url 'deleteBeer' beer.pk %}'">Delete
        </button>
        <button class="primary-bright-button" type="button" onclick=" location.href='{% url 'listBeers' %}'">Back to
            Collection
        </button>
    </div>
</section>
{% endblock %}