{% extends 'CraftBeer/craftbeer_base.html' %}
{% load staticfiles %}
{% block templatecontent %}
<section>
    <div id="footyPic">
        <img src="{% static 'images/beertap.png' %}">
        <span><strong>Welcome to the Tap Tracker App</strong><br/>
        A collection manager app for fellow craft beer enthusiasts! We have a database to manage beer collections, an
        API for finding new beers, and recent news stories from The Brewers Association. Enjoy!</span>
        <br/>
    </div>
</section>
{% endblock %}