{% extends 'base.html' %}
{% load static from staticfiles %}
{% block appcontent %}

<head>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div class="">
    <h1 class="text-center">{% block header %}{% endblock %}</h1>
    <hr/>
    <nav class="navbar navbar-expand navbar-light">
        
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'movieHome' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'listMovie' %}">Your Movies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'findMovie' %}">Find Movies</a>
                </li>
            </ul>
        
    </nav>
</div>
<div class="container">
    {% block content %}{% endblock %}
</div>
</body>
{% endblock %}
