{% extends "MovieApp/movie_base.html" %}
{% load static from staticfiles %}

{% block title %}Home{% endblock %}

{% block header %}Anime Fandome App!{% endblock %}

{% block content %}
<div id="">
    <img src="{% static 'images/spirited-away.png' %}">
    <span class="footy_center"><strong>All your Anime Adventures in one place.</strong><br/>
        This app allows you to keep track of titles you already have.  Search for titles you are curious about
        and even provides you with a news stream for keeping up on new developments in the Anime World!
    </span>
        <br/>
</div>
{% endblock %}

