{% extends "MovieApp/movie_base.html" %}
{% load static from staticfiles %}

{% block title %}Home{% endblock %}

{% block header %}Movie Fandome App!{% endblock %}

{% block content %}
<div class="">
    
        <img src="{% static 'images/spirited-away.png' %}">
    <div class="container text-center">
        <p class=""><h5>All your Movies in one place.</h5><br/>
            This app allows you to keep track of titles you already have and search for ones you are curious about.
        </p>
    </div>
        <br/>
</div>
{% endblock %}

