{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

{% block title %}Details{% endblock %}

{% block header %}Details{% endblock %}

<section>
    <div class="flex-container footy">
        <table>
            <tr>
                <th>Title</th>
                <td>{{movie.title}}</td>
            </tr>
            <tr>
                <th>Director</th>
                <td>{{movie.director}}</td>
            </tr>
            <tr>
                <th>Studio</th>
                <td>{{movie.studio}}</td>
            </tr>
            <tr>
                <th>Platform</th>
                <td>{{movie.platform}}</td>
            </tr>
            <tr>
                <th>Year</th>
                <td>{{movie.year}}</td>
            </tr>
        </table>

        <hr/>
        <button class="primary-bright-button" type="button" onclick=" location.href='{% url 'listMovie' %}'">
            Back to Collection
        </button>
    </div>
</section>
{% endblock %}