{% extends 'PopularCharts/charts_base.html' %}
{% load staticfiles %}
{% block templatecontent %}
<section>
<section>
    <div id="footyPic">
        <img src="{% static 'images/guitar_d.jpg' %}">
        <span class="footy_center"><strong>Welcome to the Popular Chart Demo App</strong><br/>
        This app is a must if you like to pull Chord Charts from guitartabs.com. It stores only the most popular (which are usually the most accurate) charts for the songs you want to play!</span>
        <br/>
    </div>
</section>
{% endblock %}

